.languageSwitcher {
  display: flex;
  gap: 0.5rem;

  &__btn{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;

    background: transparent;
    border: 1px solid var(--colorGray300);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: all 0.2s ease;

    &::hover{
        border-color: var(--colorPrimary);
        color: var(--colorPrimary);
    }
  }
}
 