.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background: var(--colorPrimarySoft);
  border-bottom: 1px solid var(--colorGray200);

  &__logo {
    font-size: 8rem;
    color: var(--colorPrimary);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
