.header {
  display: flex;
  padding: 2rem 3rem;
  background: var(--gradientHeader);
  border-bottom: 1px solid var(--colorGray200);

  .pageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 8rem;
    color: var(--colorPrimary);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
