.header {
  display: flex;
  background: var(--gradientHeader);
  border-bottom: 1px solid var(--colorGray200);

  .pageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 8rem;
    color: var(--colorPrimary);
    text-decoration: none;
    @media(max-width: 767px) {
      font-size: 5rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
