* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: var(--color-black);
  color: var(--color-white);
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-size: var(--baseFontSize);
  font-family: var(--baseFontFamily);
  line-height: var(--baseLineHeight);
  font-weight: var(--baseFontWeight);
  overflow-x: hidden;
}

body {
  min-width: var(--siteMinWidth);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: var(--colorGray100);
  color: var(--colorBlack);
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
