* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: var(--color-black);
  color: var(--color-white);
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;

 
  font-size: var(--baseFontSize);

 
  font-family: var(--baseFontFamily);
  line-height: var(--baseLineHeight);
  font-weight: var(--baseFontWeight);

  overflow-x: hidden;
}

body {
  min-height: 100%;
  min-width: var(--siteMinWidth);

  background: var(--colorGray100);
  color: var(--colorBlack);
}