:root {
 
  --colorWhite: #ffffff;
  --colorBlack: #111827;
 
  --colorGray100: #f3f4f6;
  --colorGray200: #e5e7eb;
  --colorGray300: #d1d5db;
  --colorGray500: #6b7280;
 
  --colorPrimary: #4f7cff;
  --colorPrimaryHover: #3b63e0;
  --colorPrimarySoft: #eaf0ff;
 
  --colorSuccess: #22c55e;
  --colorWarning: #f59e0b;
  --colorError: #ef4444;
}