:root {
  --colorWhite: #fff;
  --colorBlack: #111827;

  --colorGray50: #f9fafb;
  --colorGray100: #f3f4f6;
  --colorGray200: #e5e7eb;
  --colorGray300: #d1d5db;
  --colorGray500: #6b7280;

  --colorPrimary: #e62b1e;
  --colorPrimaryHover: #c81f14;
  --colorPrimarySoft: #fff5f5;

  --colorSuccess: #16a34a;
  --colorWarning: #f59e0b;
  --colorError: #dc2626;
  --gradientFooter: linear-gradient(
    90deg,
    var(--colorBlack) 0%,
    color-mix(in srgb, var(--colorBlack) 85%, var(--colorPrimarySoft)) 25%,
    color-mix(in srgb, var(--colorBlack) 80%, var(--colorPrimarySoft)) 50%,
    color-mix(in srgb, var(--colorBlack) 85%, var(--colorPrimarySoft)) 75%,
    var(--colorBlack) 100%
  );
  --gradientHeader: linear-gradient(
    90deg,
    var(--colorPrimarySoft) 0%,
    color-mix(in srgb, var(--colorPrimarySoft) 85%, var(--colorBlack)) 25%,
    color-mix(in srgb, var(--colorPrimarySoft) 80%, var(--colorBlack)) 50%,
    color-mix(in srgb, var(--colorPrimarySoft) 85%, var(--colorBlack)) 75%,
    var(--colorPrimarySoft) 100%
  );
}
