:root {
  --baseFontSize: 8px;
  --baseFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --baseLineHeight: 1.5;
  --baseFontWeight: 400;

  --siteMinWidth: 45rem;

  --containerMaxWidth: 225rem;
  --containerPadding: 3rem;
}
