.footer {
  margin-top: auto;
  background: var(--gradientFooter);
  display: flex;
  justify-content: space-between;
  align-items: center;


  .pageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 2.5rem;
    }
  }

  &__logo {
    font-size: 5rem;
    font-weight: 600;
    color: var(--colorWhite);
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 3rem;
    }

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  &__policy {
    font-size: 2.5rem;
    color: var(--colorGray500);
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }

    &:hover {
      color: var(--colorWhite);
      text-decoration: none;
    }
  }
}
